.About-Me{
    background-image: url('imagenes/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    min-height:600px;
}

#main-navbar{
    background-color:#4A463B;
}

#main-navbar a{
    color:orange;
}


.Logo{
    text-align:center;
}

.contenido-tarjeta{
    color:black ;
}

#main-footer{
    background-color:#4A463B !important;
    color:#fff !important;
    text-align:center !important;
    padding:20px !important;
    margin-top:40px !important;
}

#Pie-de-pagina{
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:20px;
}

#Pie-de-pagina .fa-4x{
    margin:5px 10px;
}

.boton-scroll{
    display: none;
    padding:20px;
    background:none;
    font-size:10px;
    color:#FF9800;
    cursor:pointer;
    position:fixed;
    bottom:20px;
    right:20px;
}

button{
    color:#fff;
    text-align: center;
    padding: 20px;
}

.main{
    width:100%;
}
  
.sub-main{
    width: 100%;
    margin:20px;
}

.boton-inutil{
    text-align: center;
    cursor: pointer;
    font-size:24px;
    margin-left:auto;
    margin-right:auto;
}

  .boton-inutil {
    padding:20px 60px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius:5px;
    box-shadow: 0 9px #95a5a6;
}
  
  .boton-inutil:hover{
    background-color: #2ecc71;
}
  
.boton-inutil:active {
    background-color: #2ecc71;
    box-shadow: 0 5px #95a5a6;
    transform: translateY(4px);
}
  